@theme static {
	--color-rosewater: var(--catppuccin-color-rosewater);
	--color-flamingo: var(--catppuccin-color-flamingo);
	--color-pink: var(--catppuccin-color-pink);
	--color-mauve: var(--catppuccin-color-mauve);
	--color-red: var(--catppuccin-color-red);
	--color-maroon: var(--catppuccin-color-maroon);
	--color-peach: var(--catppuccin-color-peach);
	--color-yellow: var(--catppuccin-color-yellow);
	--color-green: var(--catppuccin-color-green);
	--color-teal: var(--catppuccin-color-teal);
	--color-sky: var(--catppuccin-color-sky);
	--color-sapphire: var(--catppuccin-color-sapphire);
	--color-blue: var(--catppuccin-color-blue);
	--color-lavender: var(--catppuccin-color-lavender);
}
